<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <span>User</span>
            </div>
            <div class="card-body">
                <form [formGroup]="Form" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="name-input">Name</label>
                        <div class="col-md-9">
                            <input type="text" formControlName="name" id="text-input" name="name" class="form-control"
                                placeholder="Enter full name">
                            <div class="invalid-feedback" *ngIf="submitted && f.name.errors && f.name.errors.required">
                                Name is required 
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Username</label>
                        <div class="col-md-9">
                            <input type="text" id="username-input" formControlName="username" name="username"
                                class="form-control" placeholder="Enter username">
                            <div class="invalid-feedback"
                                *ngIf="submitted && f.username.errors && f.username.errors.required">Username is
                                required
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="email-input">Email</label>
                        <div class="col-md-9">
                            <input type="email" id="email-input" formControlName="email" name="email"
                                class="form-control" placeholder="Enter Email" autocomplete="email">
                            <div class="invalid-feedback"
                                *ngIf="submitted && f.email.errors && f.email.errors.required">Email is required
                             </div>
                             <div class="invalid-feedback"
                                *ngIf="submitted && f.email.errors && f.email.errors.pattern">Please enter valid email address
                             </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="password-input">Password</label>
                        <div class="col-md-9">
                            <input type="password" id="password-input" formControlName="password" name="password"
                                class="form-control" placeholder="Password" autocomplete="current-password">
                            <div class="invalid-feedback"
                                *ngIf="submitted && f.password.errors && f.password.errors.required">Password is
                                required
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Select Role</label>
                        <div class="col-md-9">
                            <select id="select1" formControlName="role" name="select1" class="form-control">
                                <option [value]="role._id" *ngFor="let role of rolesList">{{role.name}}</option>
                            </select>
                            <div class="invalid-feedback"
                            *ngIf="submitted && f.role.errors && f.role.errors.required">Role is
                            required
                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" (click)="onSubmit()" class="btn btn-sm btn-primary float-right"> Submit</button>
            </div>
        </div>
    </div>
</div>