<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong class="test">About Us</strong>
      <span class="float-right">
        <!-- <button type="button" class="btn btn-primary"
          tooltip="Short code: #aboutUs_our_mandate, #ourPartnerImg, aboutUs_Brochure">
          <i class="fa fa-info-circle"></i>
        </button> -->
        <button class="btn btn-warning" (click)="shortCode.show()"><i class="fa fa-info-circle"></i></button>
        <button class="btn btn-secondary" *ngIf="Isauth('add')" (click)="addsec()">Add new</button>
        <button class="btn btn-primary" *ngIf="Isauth('update')" (click)="publish()">Publish</button>
      </span>
    </div>
    <div cdkDropList class="example-list p-3" (cdkDropListDropped)="drop($event)">

      <div class="animated fadeIn">
        <div *ngFor="let section of sections; let i = index" class="card">
          <div class="card-header" cdkDrag>
            {{section.name}}
            <div class="card-header-actions">
              <button type="button" *ngIf="Isauth('delete')" (click)="deletesec(i)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
              <button *ngIf="!section.collapse" type="button" class="btn btn-secondary" cdkDragHandle>
                <i class="fa fa-arrows"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="section.collapse = !section.collapse">
                <i *ngIf="section.collapse" class="fa fa-compress"></i>
                <i *ngIf="!section.collapse" class="fa fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
            [collapse]="!section.collapse">
            <input type="text" class="form-control" [(ngModel)]="section.name" placeholder="Enter the Name of section"
              required>
            <br />
            <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="section.html"></angular-editor>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div bsModal #shortCode="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Short Codes</h4>
        <button type="button" class="close" (click)="shortCode.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li *ngFor="let code of shortCodeList; let i = index" class="list-group-item">{{code}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="shortCode.hide()">Close</button>
      </div>
    </div>
  </div>
</div>