<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong class="test">Frequently Asked Questions</strong>
      <span class="float-right">
        <button class="btn btn-secondary" *ngIf="Isauth('add')" (click)="ourKeyModal.show()">Add FAQ</button>
        <button class="btn btn-secondary" *ngIf="Isauth('add')" (click)="addsec()">Add new</button>
        <button class="btn btn-primary" *ngIf="Isauth('update')" (click)="publish()">Publish</button>
      </span>
    </div>
    <div cdkDropList class="example-list p-3" (cdkDropListDropped)="drop($event)">

      <div class="animated fadeIn">
        <div *ngFor="let section of sections; let i = index" class="card">
          <div class="card-header" cdkDrag>
            {{section.name}}
            <div class="card-header-actions">
              <button type="button" *ngIf="Isauth('delete')" (click)="deletesec(i)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
              <button *ngIf="!section.collapse" type="button" class="btn btn-secondary" cdkDragHandle>
                <i class="fa fa-arrows"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="section.collapse = !section.collapse">
                <i *ngIf="section.collapse" class="fa fa-compress"></i>
                <i *ngIf="!section.collapse" class="fa fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
            [collapse]="!section.collapse">
            <input type="text" class="form-control" [(ngModel)]="section.name" placeholder="Enter the Name of section"
              required>
            <br />
            <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="section.html">
            </angular-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div bsModal #ourKeyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Extras</h4>
        <button type="button" class="close" (click)="ourKeyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="Form" class="form-horizontal">
          <div class="card" *ngFor="let section of faqSection; let i = index">
            <div class="card-header" >
              {{section.name}}
              <span class="float-right">
                <button class="btn btn-secondary" *ngIf="Isauth('add')" (click)="section.isCollapsed = !section.isCollapsed">
                  <i class="fa fa-expand"></i>
                </button>
              </span>
            </div>
            <div  class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)"
              [collapse]="section.isCollapsed">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat.
              </p>
            </div>
         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ourKeyModal.hide()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div> -->