// Here you can add other styles
.invalid-feedback{
    display: block;
}

.height-vh{
    height: 50vh;
}

.table_title {
    line-height: 35px;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.chs-file {
    width: 93px;
    margin: auto;
}

.list-file{
    color: #3f51b5;
    font-size: medium;
    font-weight: bold;
}